html, body {
    margin : 0;
    padding : 0;
    width: 100%;
    height : 100%;
}
#main {
    width : 100%;
    height : 100%;
    background-color : gray;
}
video {
    display : none;
}
.swiper-container {
    width : 100%;
    height : 100%;
}
canvas {
    width : 80%;
    height : 80%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    box-shadow:         0px 3px 12px 0px rgba(53, 50, 50, 0.6);
}
#camera {
    display :flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    background-color : #f5f5f5;
}
* {
    box-sizing : border-box;
}
input[type=text], input[type=tel] {
    font-size : 18px;
    height : 45px;
    width : 100%;
    box-sizing :border-box;
    outline : 0;
    border : none;
    box-shadow: inset 0px 0px 6px 0px rgba(50, 50, 50, 0.2)
}
input[type=text]:active, input[type=tel]:active {
    outline : 0;
}
#info {
    padding : 10px;
    box-sizing : border-box;
    background-color : #F6F6F6;
}
#pass {
    position : absolute;
    bottom : 10px;
    width : calc(100% - 20px);
    height : 45px;
    border : none;
    background-color : #505297;
    color : aliceblue;
}
#pass:active{
    border : none;
    outline : 0;
    box-shadow:none;
    
}
#buttonWrapper {
    width : 100%;
}
label {
    display : block;
    font-size : 20px;
    color : #404040
}
#dbshow{
    position : absolute;
    top : 10px;
    right : 10px;
    z-index : 100000;
    border : none;
    font-size : 20px;
    outline : none;
    background-color :#204051;
    color : aliceblue;
}
#dbscreen {
    position: absolute;
    top: 10px;
    z-index: 100;
    display: none;
    background-color:#cae8d5;
    left: 10px;
    width: calc(100% - 55px);
    padding: 10px;
}
#grid {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#grid div:nth-child(2n-1) {
    background-color :#b2d1bd;
}
#grid div:nth-child(2n) {
    background-color : #84a9ac;
}
#form {
    position :relative;
    top : 20px;
}
.shadow {
    box-shadow:         0px 3px 12px 0px rgba(53, 50, 50, 0.5);
    border-radius: 3px;
}
#form input {
    margin-top : 2px;
}
#good {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#good img {
    width: 80%;
}
#good div {
    margin-top: 20px;
    color: gray;
}
#temp {
    margin-top: 14px;
    color: #868686;
    font-size: 25px;
}
#check {
    position: absolute;
    bottom: 0;
    font-size: 7px;
    display: grid;
    grid-template-columns: 5fr 1fr;
}
#check canvas{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* div {
    border : solid;
} */
.swiper-wrapper:nth-child(2n) {
    background-color: skyblue;
}