html, body {
    margin : 0;
    padding : 0;
    width: 100%;
    height : 100%;
}
#main {
    width : 100%;
    height : 100%;
    background-color : gray;
}
video {
    display : none;
}
.swiper-container {
    width : 100%;
    height : 100%;
}
canvas {
    width : 80%;
    height : 80%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#camera {
    display :flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    
}
* {
    box-sizing : border-box;
}
input[type=text], input[type=tel] {
    font-size : 18px;
    height : 45px;
    width : 100%;
    box-sizing :border-box;
    outline : 0;
    border : none;
}
input[type=text]:active, input[type=tel]:active {
    outline : 0;
}
#info {
    padding : 10px;
    box-sizing : border-box;
    background-color : #F6F6F6;
}
#pass {
    position : absolute;
    bottom : 10px;
    width : calc(100% - 20px);
    height : 45px;
    border : none;
    background-color : #505297;
    color : aliceblue;
}
#pass:active{
    border : none;
    outline : 0;
    
}
#buttonWrapper {
    width : 100%;
}
label {
    display : block;
    font-size : 20px;
    color : #404040
}
#dbshow{
    position : absolute;
    top : 10px;
    right : 10px;
    z-index : 100000;
    border : none;
    border-radius : 7px;
    font-size : 20px;
    outline : none;
    background-color :#204051;
    color : aliceblue;
}
#dbscreen {
    position : absolute;
    top : 10px;
    z-index : 100;
    display : none;
    background-color: azure;
}
#grid {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* div {
    border : solid;
} */
.swiper-wrapper:nth-child(2n) {
    background-color: skyblue;
}