html, body {
    margin : 0;
    padding : 0;
    width: 100%;
    height : 100%;
}
#main {
    width : 100%;
    height : 100%;
    background-color : gray;
}
video {
    display : none;
}
.swiper-container {
    width : 100%;
    height : 100%;
}
canvas {
    width : 80%;
    height : 80%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}